<% if (gardens && gardens.length > 0) { %>
  <% gardens.forEach(garden => { %>
    <div class="col">
      <!--each garden has its own link-->
      <a href="<%= garden.link %>" class="text-light text-decoration-none">
        <div class="card h-100 card text-bg-dark border-secondary">
          <% if (garden.image) { %>
            <img src="<%= garden.image %>" class="card-img-top" alt="<%= garden.name %>">
          <% } else { %>
            <!-- Default image if no image is provided -->
            <img src="https://www.thespruce.com/thmb/Y4wxxbBnxIGKK8v4eoI5whUZP2c=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/byladylpergola-f0e18912bd13494682b988bcf37c1265.jpg" class="card-img-top" alt="default image">
          <% } %>
          <div class="card-body">
            <h5 class="card-title"><%= garden.name %></h5>
            <h7 class="card-addres"><%= garden.address %></h7>
            <div>
              <p class="card-text">Irrigation days:</p>
            </div>
            <div>
              <p class="card-text">Duration:</p>
            </div>
            <div>
              <p class="card-text">Total amount:</p>
            </div>
          </div>
          <div class="card-footer border-secondary d-flex justify-content-between align-items-center">
            <small class="text-body-light">Last updated 3 mins ago</small>
            <div>
              <button class="btn btn-sm text-danger me-2">
                <i class="bi bi-trash3"></i>
              </button>
              <button class="btn btn-sm text-light">
                <i class="bi bi-pen"></i>
              </button>
            </div>
          </div>
        </div>
      </a>
    </div>
  <% }); %>
<% } else { %>
  <div class="col-12 text-center">
    <p class="text-light">No gardens found. Create your first garden!</p>
  </div>
<% } %>